/*-- Body --*/
body {
  background: #B0DEE2; }

/*-- Menu de navegacipon Maestrito--*/
nav.maestrito {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#033b6c+0,03668b+45,03668b+50,03668b+55,033b6c+100 */
  background: #E7760B;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #E7760B 0%, #f5a45f 45%, #f5a45f 50%, #f5a45f 55%, #E7760B 100%);
  /* W3C */
  /*
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='$color-dark-orange', endColorstr='$color-dark-orange', GradientType=0);
  /* IE6-9 */ }

nav div#navegation ul.maestrito li {
  background: url("../img/maestrito/nav-border.png") no-repeat center;
  margin: 0; }
  nav div#navegation ul.maestrito li.active {
    background: url("../img/maestrito/nav-border-active.png") no-repeat center; }
  nav div#navegation ul.maestrito li a {
    width: 179px; }
  nav div#navegation ul.maestrito li:first-child {
    background: url(../img/nav-border1.png) no-repeat center; }
    nav div#navegation ul.maestrito li:first-child a {
      max-width: 103px;
      min-width: 103px; }
  nav div#navegation ul.maestrito li:hover a {
    background: none; }
  nav div#navegation ul.maestrito li:last-child a {
    line-height: 40px; }

/*-- Banner --*/
div#body-maestrito section.section div.banner {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #E7760B; }
  div#body-maestrito section.section div.banner img {
    width: 818px;
    height: 524px; }
div#body-maestrito section.section div.content {
  margin: 0;
  background: #E7760B;
  height: 207px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 55px;
  overflow-y: auto;
  width: 100%; }
  div#body-maestrito section.section div.content ul {
    padding: 0;
    list-style: none;
    color: #fff !important; }
    div#body-maestrito section.section div.content ul li {
      font-family: 'TitilliumWeb';
      font-weight: bold;
      font-size: 14px;
      border-top: 1px solid #fff;
      padding: 2px 10px; }

/*# sourceMappingURL=style-maestrito.css.map */
