ul {
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
.estado_cuenta{
	width: 550px;
	float: left;
	background-color: rgba(81, 137, 167, 0.76);
	padding: 10px;
	font-family: 'TitilliumWeb';
	color: white;
}
h2,h3{
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.estado_cuenta select{
	color: #666;
	padding: 3px 7px;
	margin-bottom:10px;
}
.estado_cuenta table{
	width: 100%;
	border:#0097B0;
	margin-bottom: 20px;
}
.estado_cuenta tr th{
	padding: 7px;
	background-color:#00B7E0;
}
.estado_cuenta tr td{
	padding: 7px;
	background: white;
	color: #005C95;
}
.estado_cuenta tr td a{
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
.estado_cuenta tr td a:hover{
	color: #FB7400;
}
.estado_cuenta span{
	font-size: 20px;
	font-weight: bold;
	margin-top: 3px;
}
input[type="submit"],.btn{
	background: #FB7400;
	border:1px solid #c35a00;
	border-radius: 5px;
	margin-left: 10px;
	padding: 5px 20px;
	font-size: 15px;
	color: white;
}
.btn:hover{
	color: white;
}
.resumen_pagos{
	width: 260px;
	float: right;
	background-color: rgba(81, 137, 167, 0.76);
	font-family: 'TitilliumWeb';
	color: white;
	padding: 10px;
}
.resumen_pagos .btn{
	display: block;
	text-align: center;
	width: 100%;
	margin-left: 0;
}
.resumen_pagos table{
	width: 100%;
	margin-bottom: 20px;
}
.resumen_pagos thead{
	border-bottom: 2px solid white
}
.resumen_pagos tr th,.resumen_pagos tr td{
	padding: 7px;
}
.resumen_pagos tfoot{
	border-top: 1px solid white;
	font-size: 16px;
}
.cards p{
	font-size: 14px;
}
.estado_cuenta ul li{
	font-weight: bold;
}
.estado_cuenta ul li span{
	font-weight:normal;
	font-size: 14px;
}
.detalle_cuenta {
	width: 820px;
}
.detalle_cuenta tfoot{
	font-weight: bold;
}
.detalles_op li{
	display: inline-block;
	margin-right: 20px;
}
.datos_co{
	margin-bottom: 20px;s
}
.datos_co li{
	margin-bottom: 10px
}
.right{
	float: right;
}
.center{
	text-align: center;
}
.center .btn{
	margin: 0 10px;
}
.center ul{
	margin-bottom: 20px;
}