//-- Variables de Color --//
$color-white: #fff;
$color-dark-orange:#E7760B ;
$color-light-orange:#f5a45f ;
$color-bacground-maestrito: #B0DEE2; 



/*-- Body --*/
body {
  background: $color-bacground-maestrito;
}


/*-- Menu de navegacipon Maestrito--*/
nav.maestrito {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#033b6c+0,03668b+45,03668b+50,03668b+55,033b6c+100 */
  background: $color-dark-orange;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, $color-dark-orange 0%, $color-light-orange 45%, $color-light-orange 50%, $color-light-orange 55%, $color-dark-orange 100%);
  /* W3C */
  /*
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='$color-dark-orange', endColorstr='$color-dark-orange', GradientType=0);
  /* IE6-9 */
}

nav div#navegation ul.maestrito {
  li {
      background: url("../img/maestrito/nav-border.png") no-repeat center;
      margin: 0;
    
    &.active {
      background: url("../img/maestrito/nav-border-active.png") no-repeat center;
    }
    a {
      width: 179px;    
    }
    
    &:first-child {
      background: url(../img/nav-border1.png) no-repeat center;
      
      a {
        max-width: 103px;
        min-width: 103px;
      }
    }
    &:hover a {
      background: none;
    }
    &:last-child a {
      line-height: 40px;
    }
  }
}

/*-- Banner --*/
div#body-maestrito section.section
{
  div.banner {
    border-top: 1px solid $color-white;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: $color-dark-orange;
    
    img {
      width: 818px;
      height: 524px;
    }
  }
  div.content {
    margin: 0;
    background: $color-dark-orange;
    height: 207px;
    border-bottom: 1px solid $color-white;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 55px;
    overflow-y: auto;
    width: 100%;
    
    ul {
      padding: 0;
      list-style: none;
      
      li {
        font-family: 'TitilliumWeb';
        font-weight: bold;
        font-size: 14px;
        border-top: 1px solid $color-white;
        padding: 2px 10px;    
        color: $color-white !important;
      }
      
    }
    
  }
  
}

