/*
Error: Invalid property: "Backtrace:" (no value).
        on line 4 of Maestrito\css/style-maestrito.css

1: /*
2: Errno::ENOENT: No such file or directory @ rb_sysopen - Maestrito\css/style-maestrito.css
3: 
4: Backtrace:
5: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:482:in `read'
6: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
7: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
8: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
9: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'

Backtrace:
Maestrito\css/style-maestrito.css:4
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:729:in `parse_property'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:691:in `parse_property_or_rule'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:657:in `parse_line'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:535:in `build_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:553:in `each'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:553:in `append_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin.rb:108:in `method_missing'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
C:/Ruby22/bin/sass:23:in `load'
C:/Ruby22/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"Backtrace:\" (no value).\A         on line 4 of Maestrito\css/style-maestrito.css\A \A 1: /*\A 2: Errno::ENOENT: No such file or directory @ rb_sysopen - Maestrito\css/style-maestrito.css\A 3: \A 4: Backtrace:\A 5: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:482:in `read'\A 6: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'\A 7: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'\A 8: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'\A 9: C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'"; }
